<extend name="Layout/index" />
<block name="breadcrumb-01">
	<li>
		<i class="icon-home home-icon"></i>
		<a href="#">首页</a>
	</li>
	<li class="active">节点管理</li>
</block>

<block name="breadcrumb-02">
	<h1>
		节点管理
		<small>
			<i class="icon-double-angle-right"></i>
			 节点修改
		</small>
	</h1>
</block>
<block name="main">

	<form action="<{:U('Node/save')}>" method='post'>
		节点名：<input type="text" name="name" value="<{$vo.name}>"><br>
		控制器 ：<input type="text" name="mname" value="<{$vo.mname}>"><br>
		操  作 ：<input type="text" name="aname" value="<{$vo.aname}>"><br>
		<input type="radio" name="status" value="1" <if condition="$vo.status eq 1">checked</if>>启用
		<input type="radio" name="status" value="0" <if condition="$vo.status eq 0">checked</if>>禁用
		<br>
		<input type="hidden" name="id" value="<{$vo.id}>">
		<input type="submit" value="添加">
		
		
	</form>
</block>